@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
/* ----- ----------- ------- --------*/
header{
    height: 70px;
    background-color: white;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}
header div{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
header div h1{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 40px;
    border-bottom:3px solid; 
    border-image:linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    ) 10;
}

nav{
    display: none;
}
header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    list-style: none;
}
header ul li{
    width: 100%;
    text-align: center;
    z-index: 9999;
    background-color:white;
    padding: 3px;
}
header ul a{
    text-decoration: none;
    font-size:30px;
    color: black;
    text-transform:uppercase ;
}
.link-1:hover,.link-1:focus{color:#EF476F}
.link-2:hover,.link-2:focus{color:#118AB2;}
.link-3:hover,.link-3:focus{color:#FFD166;}
.link-4:hover,.link-4:focus{color:#06D6A0;}
.link-5:hover,.link-5:focus{color:#073B4C;}
/* Classe para abrir o menu pelo JS */
.abrir-menu{
    display: block;
}
/* --------------------------------- */

main article{
    height: 65vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
main article h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
main article p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Merriweather', serif;
}
article div{
    margin-bottom: 100px;
    width: 80%;
    margin-left: 10px;
}
article button{
    background-color: rgb(95, 200, 235);
    width: 170px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
    letter-spacing: 2px;
}
.yellow-button button{
    background-color: yellow;
    width: 170px;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
    font-weight: 600;
    transition-property: left;
}
.yellow-button{
    color: white;
}
.produtos{
    background-image: url(../imagens/produtos.png);
    background-size: cover;
    background-position-x: center;
}
.ui-ux{
    background-image: url(../imagens/ux.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.proposta{
    background-image: url(../imagens/proposta.png);
    background-size: cover;
    background-position-x: center;
}
.marca{
    background-image: url(../imagens/marca.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.publicacao{
    background-image: url(../imagens/publicacao.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: 50%; */
}
article button:hover{
    background-color: black;
    color: white;
}

@media screen and (min-width:900px) {
    .produtos{
        background-size: 100%;
    }
    header{
        background-color: rgb(255, 239, 60);
    }
    main article{
        height: 85vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    article div h1{
        font-size:80px;
    }
    article div{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    article div p{
        width: 60%;
    }
}
@media screen and (min-width:1300px) {
    article div p{
        width: 40%;
    }
}
