@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Merriweather', serif;
    background-color: #ffee3c;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
/* ----- ----------- ------- --------*/
header{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.950);
    align-items: center;
    position: sticky;
    top: 0;bottom: 0;right: 0;left: 0;
    z-index: 99999;
}
.div-header{
    display: flex;
    height: 100%;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    margin: auto;
}
.logo-marca{
    display: flex;
}
header div img{
    width: 15%;
}
header div h1{
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2);
    text-transform: uppercase;
    font-size: 35px;
}
.logo-desktop{
    display: none;
}
nav{
    display: none;
}
header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    list-style: none;
}
header ul li{
    width: 100%;
    text-align: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.950);
    padding: 3px;
    font-family: 'Oswald', sans-serif;
}
header ul a{
    text-decoration: none;
    font-size:30px;
    color: black;
    text-transform:uppercase ;
}
.link-1:hover,.link-1:focus{color:#FF0000;}
.link-2:hover,.link-2:focus{color:#FFD300;}
.link-3:hover,.link-3:focus{color:#A1FF0A;}
.link-4:hover,.link-4:focus{color:#0AEFFF;}
.link-5:hover,.link-5:focus{color:#f20089;}

/* Classe para abrir o menu pelo JS */
.abrir-menu{
    display: block;
}
/* --------------------------------- */

main article{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main article h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
main article p{
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: 300;
}
article div{
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10px;
}
.yellow-button button{
    background-color: yellow;
    width: 170px;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
    font-weight: 600;
    transition-property: left;
}
.yellow-button{
    color: white;
}
.produtos{
    background-image: url(../imagens/produtos.png);
    background-size: cover;
    background-position-x: center;
}
.ui-ux{
    background-image: url(../imagens/ux.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.proposta{
    background-image: url(../imagens/proposta.png);
    background-size: cover;
    background-position-x: center;
}
.marca{
    background-image: url(../imagens/marca.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.publicacao{
    background-image: url(../imagens/publicacao.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: 50%; */
}
/* BOTAO */
.custom-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.6s ease;
    position: relative;
    display: inline-block;
}
.btn-15 {
    background-color: #26ccca;
    width: 170px;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
   z-index: 1;
 }
 .btn-15:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
    background: black;
   transition: all 0.5s ease;
 }
 .btn-15:hover {
   color: white;
 }
 .btn-15:hover:after {
   left: 0;
   width: 100%;
 }
 .btn-15:active {
   top: 2px;
 }
/* ------- */

@media screen and (min-width:700px) {
    main article{
        height: 85vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .ui-ux, .marca{
        background-attachment: local;
    }
    article div h1{
        font-size:90px;
    }
    article div{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 60%;
        max-width: 650px;
    }
    .logo-marca h1{
        font-size: 40px;
    }
    .logo-mobile{display: none;}
    .logo-desktop{display: block;}
    .logo-marca img{width: 10%;}
    .logo-marca{
        display: flex;
        align-items: center;
    }
}
